:host {
  display: block;
  
  .wire-card {
    @apply block rounded-3xl border ring-[1px] px-6 py-5 mb-6 shadow-md box-border;
  }

  .wire-card--theme-light {
    @apply bg-white border-gray-200 ring-gray-200;

    .body {
      @apply text-gray-500;
    }

    .title {
      color: var(--gray-90);
    }
  }

  .wire-card--theme-dark {
    @apply border-gray-800 ring-gray-800;
    background: var(--gray-90);

    .body {
      @apply text-gray-400;
    }

    .title {
      color: var(--gray-05);
    }
  }

  header {
    @apply flex justify-between items-center pb-4;

    .title {
      @apply flex justify-between items-center gap-2 text-lg font-normal my-0;

      wire-icon {
        @apply text-primary;
      }
    }
  }

  .body {
    @apply text-sm font-normal;
  }
}

