:host {
  display: block;
  
  .wire-card {
    @apply block rounded-3xl border ring-[1px] px-6 py-5 mb-6 box-border;
  }

  .wire-card:not(.wire-card--no-shadow) {
    @apply shadow-md;
  }

  .wire-card--border-primary {
    @apply border-2 ring-2;
    border-color: var(--wire-color-primary);
    --tw-ring-color: var(--wire-color-primary);
  }

  .wire-card--border-secondary {
    @apply border-2 ring-2;
    border-color: var(--wire-color-secondary);
    --tw-ring-color: var(--wire-color-secondary);
  }

  .wire-card--border-featured {
    @apply border-2 ring-2 relative;
    border-color: transparent;
    --tw-ring-color: transparent;

    &::before {
      content: '';
      position: absolute;
      inset: -2px;
      border-radius: 1.5rem;
      padding: 2px;
      background: linear-gradient(to bottom right, var(--wire-color-secondary), var(--wire-color-primary));
      -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  .wire-card--border-default {
    &.wire-card--theme-light {
        @apply border-gray-200 ring-gray-200;  
    }

    &.wire-card--theme-dark {
      @apply border-gray-800 ring-gray-800;
    }
  }

  .wire-card--theme-light {
    background: var(--wire-gray-05);

    .body {
      @apply text-gray-500;
    }

    .title {
      color: var(--wire-gray-90);
    }
  }

  .wire-card--theme-dark {
    background: var(--wire-gray-90);

    .body {
      @apply text-gray-400;
    }

    .title {
      color: var(--wire-gray-05);
    }
  }

  header {
    @apply flex justify-between items-center pb-4;

    .title {
      @apply flex justify-between items-center gap-2 text-lg font-normal my-0;

      wire-icon {
        @apply text-primary;
      }
    }
  }

  .body {
    @apply text-sm font-normal;
  }
}

